# GREAT EXPECTATION

Pada file ini akan dilakukan validasi data menggunakan Great Expectations. Terdapat 7 buah jenis great expectation yang dilakukan pada dataset ini diantaranya : 
1. To be unique
2. To be between min_value and max_value
3. To be in set
4. To be in type list
5. To not be null
6. To match the specified date format
7. To be between

### Import Library

In [1]:
import great_expectations as ge
import pandas as pd

from great_expectations.data_context import FileDataContext
import warnings

warnings.filterwarnings("ignore", category=DeprecationWarning)

### Loading Data

In [2]:
# Load cleaned data
df = pd.read_csv('airflow/dags/P2M3_serina_roihaanah_data_clean.csv')

# Convert to great expectation dataframe
context = ge.get_context()

print("Loading success")

Loading success

In [3]:
# Give a name to a Datasource. This name must be unique between Datasources.
datasource_name = 'csv-data-1'
datasource = context.data_sources.add_pandas(datasource_name)

asset_name = 'df_asset'
data_asset = datasource.add_dataframe_asset(name=asset_name)

In [4]:
# Build batch request
batch_request = data_asset.add_batch_definition_whole_dataframe('batch definition')
batch = batch_request.get_batch(batch_parameters={'dataframe':df})

In [3]:
df.head()

,invoice_id,branch,city,customer_type,gender,product_line,unit_price,quantity,tax_5%,total,date,time,payment,cogs,gross_margin_percentage,gross_income,rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3

In [20]:
df['invoice_id'].value_counts()

invoice_id
750-67-8428    1
642-61-4706    1
816-72-8853    1
491-38-3499    1
322-02-2271    1
              ..
633-09-3463    1
374-17-3652    1
378-07-7001    1
433-75-6987    1
849-09-3807    1
Name: count, Length: 1000, dtype: int64

In [8]:
df.invoice_id

0      750-67-8428
1      226-31-3081
2      631-41-3108
3      123-19-1176
4      373-73-7910
          ...
995    233-67-5758
996    303-96-2227
997    727-02-1313
998    347-56-2442
999    849-09-3807
Name: invoice_id, Length: 1000, dtype: object

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   invoice_id               1000 non-null   object
 1   branch                   1000 non-null   object
 2   city                     1000 non-null   object
 3   customer_type            1000 non-null   object
 4   gender                   1000 non-null   object
 5   product_line             1000 non-null   object
 6   unit_price               1000 non-null   float64
 7   quantity                 1000 non-null   int64
 8   tax_5%                   1000 non-null   float64
 9   total                    1000 non-null   float64
 10  date                     1000 non-null   object
 11  time                     1000 non-null   object
 12  payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross_margin_percentage  1000 non-null   float64
 15  gross_income             1000 non-null   float64
 16  rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

### Great Expectation

#### First Great Expectation

Pada bagian ini akan dilakukan validasi data dengan menggunakan great expectation **To be Unique** terhadap kolom `invoice_id`.

In [5]:
# 1st
# Create an expectation to ensure that the 'invoice_id' column has unique values
expect = ge.expectations.ExpectColumnValuesToBeUnique(column='invoice_id')

val_result = batch.validate(expect)
print(val_result)

Calculating Metrics:   0%|          | 0/10 [00:00<?, ?it/s]

{
  "success": true,
  "expectation_config": {
    "type": "expect_column_values_to_be_unique",
    "kwargs": {
      "batch_id": "csv-data-1-df_asset",
      "column": "invoice_id"
    },
    "meta": {}
  },
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_counts": [],
    "partial_unexpected_index_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Hasil validasi untuk **To be Unique** telah `success: true`.

#### Second Great Expectation

Pada bagian ini akan dilakukan validasi data dengan menggunakan great expectation **To be Between Min Value and Max Value** terhadap kolom `rating`. Kolom ini berisi penilaian pelanggan pada keseluruhan pengalaman berbelanja mereka dengan penilaian dari 1 hingga 10.

In [ ]:
# 2nd
# Create an expectation to ensure that values in a column are between min and max value
expect = ge.expectations.ExpectColumnValuesToBeBetween(
    column='rating',  
    min_value=1,    
    max_value=10    
)

val_result = batch.validate(expect)
print(val_result)

Calculating Metrics:   0%|          | 0/10 [00:00<?, ?it/s]

{
  "success": true,
  "expectation_config": {
    "type": "expect_column_values_to_be_between",
    "kwargs": {
      "batch_id": "csv-data-1-df_asset",
      "column": "rating",
      "min_value": 1.0,
      "max_value": 10.0
    },
    "meta": {}
  },
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_counts": [],
    "partial_unexpected_index_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

:

Hasil validasi untuk **To be Between Min Value and Max Value** telah `success: true`.

#### Third Great Expectation

Pada bagian ini akan dilakukan validasi data dengan menggunakan great expectation **To be In Set** terhadap kolom `product_line`. Kolom ini memiliki beberapa kategori sehingga diharapkan nilai dalam kolom ini sesuai dengan kategori yang ada.

In [7]:
# 3rd
# Create an expectation to ensure that values in a column are only within a aspecified set
expect = ge.expectations.ExpectColumnValuesToBeInSet(
    column='product_line',     
    value_set={'Health and beauty', 'Electronic accessories',
       'Home and lifestyle', 'Sports and travel', 'Food and beverages',
       'Fashion accessories'} 
)

val_result = batch.validate(expect)
print(val_result)

Calculating Metrics:   0%|          | 0/10 [00:00<?, ?it/s]

{
  "success": true,
  "expectation_config": {
    "type": "expect_column_values_to_be_in_set",
    "kwargs": {
      "batch_id": "csv-data-1-df_asset",
      "column": "product_line",
      "value_set": [
        "Fashion accessories",
        "Home and lifestyle",
        "Food and beverages",
        "Electronic accessories",
        "Health and beauty",
        "Sports and travel"
      ]
    },
    "meta": {}
  },
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_counts": [],
    "partial_unexpected_index_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Hasil validasi untuk **To be To be In Set** telah `success: true`.

#### Fourth Great Expectation

Pada bagian ini akan dilakukan validasi data dengan menggunakan great expectation **To be In Type List** terhadap kolom `unit_price`. Kolom ini merupakan nilai numerik yang diharapkan memiliki tipe data float atau integer.

In [8]:
# 4th
# Create an expectation to ensure the type of values in the column
expect = ge.expectations.ExpectColumnValuesToBeInTypeList(
    column='unit_price',
    type_list=['float', 'int']
)

val_result = batch.validate(expect)
print(val_result)

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

{
  "success": true,
  "expectation_config": {
    "type": "expect_column_values_to_be_in_type_list",
    "kwargs": {
      "batch_id": "csv-data-1-df_asset",
      "column": "unit_price",
      "type_list": [
        "float",
        "int"
      ]
    },
    "meta": {}
  },
  "result": {
    "observed_value": "float64"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Hasil validasi untuk **To be In Type List** telah `success: true`.

#### Fifth Great Expectation

Pada bagian ini akan dilakukan validasi data dengan menggunakan great expectation **To Not Be Null** terhadap kolom `city`. Peneliti mengasumsikan kolom `city` adalah kolom yang paling penting untuk tidak memiliki nilai null di dalamnya dengan alasan untuk memudahkan pelacakan data dan analisa dibandingkan dengan kolom lainnya.

In [9]:
# 5th
# Create an expectation to ensure values in a column should not be null
expect = ge.expectations.ExpectColumnValuesToNotBeNull(
    column='city'
)
val_result = batch.validate(expect)
print(val_result)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "expectation_config": {
    "type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "batch_id": "csv-data-1-df_asset",
      "column": "city"
    },
    "meta": {}
  },
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "partial_unexpected_counts": [],
    "partial_unexpected_index_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Hasil validasi untuk **To Not Be Null** telah `success: true`.

#### Sixth Great Expectation

Pada bagian ini akan dilakukan validasi data dengan menggunakan great expectation **To Match The Specified Date Format** terhadap kolom `date` untuk memastikan setiap nilai di dalamnya mengikuti format yang ditentukan.

In [10]:
# 6th
# Create an expectation to ensure values in a column should match the specified date format (YYYY-MM-DD)
expect = ge.expectations.ExpectColumnValuesToMatchStrftimeFormat(
    column='date',
    strftime_format='%Y-%m-%d'
)
val_result = batch.validate(expect)
print(val_result)

Calculating Metrics:   0%|          | 0/10 [00:00<?, ?it/s]

{
  "success": true,
  "expectation_config": {
    "type": "expect_column_values_to_match_strftime_format",
    "kwargs": {
      "batch_id": "csv-data-1-df_asset",
      "column": "date",
      "strftime_format": "%Y-%m-%d"
    },
    "meta": {}
  },
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_counts": [],
    "partial_unexpected_index_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Hasil validasi untuk **To Match The Specified Date Format** telah `success: true`.

#### Seventh Great Expectation

Pada bagian ini akan dilakukan validasi data dengan menggunakan great expectation **To be Between** terhadap kolom `rating`.

In [11]:
# 7
# Create an expectation to ensure that the mean of values in a column should be between 4.0 and 10.0
expect = ge.expectations.ExpectColumnMeanToBeBetween(
    column='rating',
    min_value=4.0,
    max_value=10.0
)
val_result = batch.validate(expect)
print(val_result)

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

{
  "success": true,
  "expectation_config": {
    "type": "expect_column_mean_to_be_between",
    "kwargs": {
      "batch_id": "csv-data-1-df_asset",
      "column": "rating",
      "min_value": 4.0,
      "max_value": 10.0
    },
    "meta": {}
  },
  "result": {
    "observed_value": 6.9727
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Hasil validasi untuk **To be Between** telah `success: true`.